/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Actual CSS by author */

/* The responsive code has not yet been written. */

/*----- Section setup -----*/

.main-header {
	width: 100%;
}

.main-header,
.about,
.albums{
	height: 100vh;
	width: 100%;
	text-align: center;
}

.social {
	height: 25vh;
	text-align: center;
}

.about,
.albums,
.social {
	padding-top: 50px;
}

/*----- Header -----*/

.main-header {
	background: url("header.jpg");
}

nav.main a {
	font-family: 'Yellowtail', cursive;
	font-size: 33px;
	color: white;
}

nav.main a:hover {
	color: black;
	border: 1px solid white;
	background: white;
}

nav.main li {
  display: inline-block;
  margin-right: 20px;
  padding-bottom: 0px;
	padding-top: 25px;
}

.albums li {
	display: inline-block;
	padding-top: 80px;
	padding-right: 10px;
}

.about {
	background: linear-gradient(black, gray);
	color: #FFFFFF;
}

.albums {
	background: linear-gradient(white, gray);
}

.social {
	background: linear-gradient(to right, black, gray);
}

.social li a {
	color: black;
}

.social li {
	display: inline-block;
	padding-top: 20px;
	padding-right: 30px;
}

.footer {
	text-align: center;
}

/*----- Typography -----*/

h1 {
	padding-top: 50px;
	font-family: 'Bree Serif', serif;
	font-size: 66px;
	color: white;
}

h2 {
	font-family: 'Bree Serif', serif;
	font-size: 44px;
}

h4 {
	font-family: 'Bree Serif', serif;
	font-size: 33px;
	padding-top: 30px;
}

h5 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 22px;
	padding-top: 20px;
}

p {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 28px;
}

iframe {
	padding-top: 100px;
	padding-right: 20px;
}

small {
	text-align: left;
	padding-top: 50px;
}
